@model EventsRecommendedModel

@{
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="true-top">
    <div class="topbar">
        <label class="header-text">Finding Events In:</label>
        <p id="city-txt" class="header-text">@Model.Location</p>
    </div>
    <div id="tag-section">
        <div id="tag-header-recommended">
            <span class="header-text">Based On:</span>
        </div>
        <div id="search-tags">
            @foreach (var tag in Model.Tags)
            {
                
                <button disabled class="tag-btn" id="tag-search-btn">@tag.Name</button>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    var userTags;

    function getTagIds() {
        userTags = new Array()

        @foreach(var tag in Model.Tags)
        {
            @:userTags.push("@tag.TagID");    
        }
    }

    function recommendedSearch() {
        getTagIds();
        var city = "@Model.Location";

        $.ajax({
            type: "POST",
            url: "EventsRecommendedSearching/_ResultView",
            data: { tagIds: userTags, city: city },
            datatype: "json",
            success: function (result) {
                $("#result-partial-view").html(result);
            }
        });
    }
</script>

<style>

</style>
