@model System.Collections.Generic.List<Events>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="all-result-container">
    @foreach (var x in Model)
    {
        <div class="result">
            @x.Location
        </div>
    }
</div>


<style type="text/css">
    .all-result-container {
        background-color: white;
        -webkit-box-shadow: -3px -3px -5px -6px #006747;
        -moz-box-shadow: -3px -3px -5px -6px #006747;
        box-shadow: -3px -3px -5px -6px #006747;
    }
</style>
