@model System.Collections.Generic.List<Tag>

@{
}
<link rel="stylesheet" href="~/css/site.css" />

<div class="true-top">
    <div class="topbar">
        <label class="header-text" for="searchbox">Where are you located?</label>
        <input id="searchbox" class="form-control" type="text" placeholder="Enter City Name..." />
    </div>
    <div id="tag-section">
        <div id="tag-header">
            <span  class="header-text">What are you interested in?</span>
        </div>
        <div id="search-tags">

            @foreach (var tag in Model)
            {
                <button class="tag-btn" id="tag-search-btn" type="button">@tag.Name</button>
            }
        </div>
    </div>
    <div>
        <button id="search-btn">Search</button>
    </div>
</div>

<script type="text/javascript">
    var userTags

    $('.tag-btn').click(function () {
        $(this).toggleClass("active");
    });

    $("#search-btn").click(function () {
        searchEvents();
    });

    function findSelected() {
        userTags = new Array();
        var btnContainer = document.getElementById('search-tags');
        var buttons = btnContainer.getElementsByTagName('button');

        for (i = 0; i < buttons.length; ++i) {
            if ($(buttons[i]).hasClass("active")) {
                userTags.push(i + 1);
            }
        }
    }
</script>

<style>
    
</style>