@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<h2>Find an Event</h2>
<button class="focus"  onclick="search()" 
        style="width: 49.8%;
        float: left;">Search</button>
<button class="focus" onclick="recommended()" 
        style="width: 49.8%;
        float: right;">Recommended</button>


<div id="search-partial-view">
    @Html.Partial("_Search", new List<Tag>())
</div>

<div id="recommended-partial-view">
    @Html.Partial("_Recommended")
</div>

<div id="result-partial-view">
    @Html.Partial("_ResultView", new List<Events>())
</div>


<script type="text/javascript">

    $(document).ready(function () {
        getTags();
        search();
    });

    function getTags() {
        $.ajax({
            url: "EventsRecommendedSearching/_Search",
            type: "GET",
            datatype: 'html',
            success: function (result) {
                $("#search-partial-view").html(result);
            }
        });
    }

    function searchEvents() {
        var city = $("#searchbox").val();
        findSelected();
        $.ajax({
            type: "POST",
            url: "EventsRecommendedSearching/_ResultView",
            data: { tagIds: userTags, city: city },
            datatype: "json",
            success: function (result) {
                $("#result-partial-view").html(result);
            }
        });
    }

    function search() {
        $("#search-partial-view").css("visibility", "visible");
        $("#recommended-partial-view").css("visibility", "hidden");
    }

    function recommended() {
        $("#search-partial-view").css("visibility", "hidden");
        $("#recommended-partial-view").css("visibility", "visible");
    }
</script>

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    .topbar {
        width: 50%;
        margin: auto;
        margin-left: 35%;
    }

    #searchbox {
        width: 50%;
        padding: 10px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .true-top {
        overflow: hidden;
        padding: 10px;
        -webkit-box-shadow: 3px 3px 5px 6px #006747;
        -moz-box-shadow: 3px 3px 5px 6px #006747;
        box-shadow: 3px 3px 5px 6px #006747;
    }

    #search-tags {
        display: inline;
        margin: 0;
        margin: auto;
    }

    #tag-search-btn {
        float: none;
        margin-top: 0px;
    }

    .tag-btn {
        width: 100px;
        white-space: nowrap;
        background-color: #006747;
        color: #DEB887;
        margin: 15px;
        border-radius: 12px;
        /*I didn't come up with the below. It's really intense. I just copied it from a blog to give the buttons the floaty effects*/
        -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }

        .tag-btn:active, .active {
            border-color: black !important;
            /*Makes the buttons sink down}*/
            -webkit-transform: translate(0, 4px);
            -moz-transform: translate(0, 4px);
            transform: translate(0, 4px);
        }
        

    #tag-section {
        margin-left: -20px;
    }

    #tag-header {
        width: 50%;
        margin: auto;
        padding-bottom: 15px;
        margin-left: 35%;
    }

    #search-btn {
        background-color: #cccccc;
        border-color: black;
        width: 10%;
        float: right;
        color: black !important;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    .button {
        /*Subclass to make the button appear to stay pressed down*/
        .button:focus
        {
        background: #e5e5e5;
        outline: none;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
        }
        /*Or maybe this*/
    @*.button:target {
        background: #e5e5e5;
        outline: none;
        -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
        -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
        box-shadow: inset 0px 0px 5px #c1c1c1;
    }*@

     
    }
    .focus:focus {
        color: forestgreen;
    }

    :target {
        color: forestgreen;
    }
    
</style>