@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<h2>Find an Event</h2>

<div id="search-partial-view">
    @Html.Partial("_Search", new List<Tag>())
</div>


@Html.Partial("_Recommended")

@Html.Partial("_ResultView")

<script type="text/javascript">

    $(document).ready(function () {
        getTags();
    });

   

    function getTags() {
        $.ajax({
            url: "EventsRecommendedSearching/_Search",
            type: "GET",
            datatype: 'html',
            success: function (result) {
                $("#search-partial-view").html(result);
            }
        });
    }
</script>