@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<h2>Find an Event</h2>
<button id ="search-part" class="btn btn-partial"  onclick="showSearchView()" 
        style="width: 50%;
        float: left;">Search</button>
<button id="recom-part" class="btn btn-partial" onclick="showRecommendedView()" 
        style="width: 50%;
        float: right;">Recommended</button>



<div id="search-partial-view">
    @Html.Partial("_Search", new List<Tag>())
</div>

<div id="recommended-partial-view">
    @Html.Partial("_Recommended", new EventsRecommendedModel())
</div>

<div id="result-partial-view">
    <div id="loading-icon" class="loader">
    </div>
    @Html.Partial("_ResultView", new List<Events>())
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $("#loading-icon").hide();
        getAllTags();
        showSearchView();
        getUserDetails();
    });

    function getAllTags() {
        $.ajax({
            url: "EventsRecommendedSearching/_Search",
            type: "GET",
            datatype: 'html',
            success: function (result) {
                $("#search-partial-view").html(result);
            }
        });
    }

    function getUserDetails() {
        $.ajax({
            type: "POST",
            url: "EventsRecommendedSearching/_Recommended",
            success: function (result) {
                $("#recommended-partial-view").html(result);
            }
        });
    }

    function searchEvents() {
        $("#loading-icon").show();
        var city = $("#searchbox").val();

        if (!validateCity()) {
            return;
        }
        if (!findSelected()) {
            return;
        }
        
        $.ajax({
            type: "POST",
            url: "EventsRecommendedSearching/_ResultView",
            data: { tagIds: userTags, city: city },
            datatype: "json",
            success: function (result) {
                $("#loading-icon").hide();
                $("#result-partial-view").html(result);
            }
        });
    }

    function showSearchView() {
        $("#search-partial-view").css("visibility", "visible");
        $("#recommended-partial-view").css("visibility", "hidden");

        document.getElementById("search-part").disabled = true;
        document.getElementById("recom-part").disabled = false;

        $("#recommended-partial-view").hide();
        $("#search-partial-view").show();

        $("#result-partial-view").empty();
    }

    function showRecommendedView() {
        $("#search-partial-view").css("visibility", "hidden");
        $("#recommended-partial-view").css("visibility", "visible");
        document.getElementById("search-part").disabled = false;
        document.getElementById("recom-part").disabled = true;

        $("#recommended-partial-view").show();
        $("#search-partial-view").hide();

        $("#result-partial-view").empty();

        recommendedSearch();
    }

    function validateCity() {
        var city = $("#searchbox").val();

        if (!city) {
            alert("The city field can not be blank.");
            return false;
        }

        return true;
    }


</script>

<style type="text/css">
    * {
        box-sizing: border-box;
    }

    #loading-icon{
        visibility: hidden;
    }

    .topbar {
        width: 50%;
        margin: auto;
        margin-left: 39%;
    }

    #searchbox {
        width: 50%;
        padding: 10px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    #city-txt {
        margin: auto;
        width: 75%;
        padding: 10px;
        margin-top: -30px;
    }

    .true-top {
        overflow: hidden;
        padding: 10px;
        -webkit-box-shadow: 3px 3px 5px 6px #006747;
        -moz-box-shadow: 3px 3px 5px 6px #006747;
        box-shadow: 3px 3px 5px 6px #006747;
    }

    #search-tags {
        display: inline;
        margin: 0;
        margin: auto;
    }

    #tag-search-btn {
        float: none;
        margin-top: 0px;
    }

    .tag-btn {
        width: 100px;
        white-space: nowrap;
        background-color: #006747;
        color: #DEB887;
        margin: 15px;
        border-radius: 12px;
        /*I didn't come up with the below. It's really intense. I just copied it from a blog to give the buttons the floaty effects*/
        -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }

        .tag-btn:active, .active {
            border-color: black !important;
            /*Makes the buttons sink down}*/
            -webkit-transform: translate(0, 4px);
            -moz-transform: translate(0, 4px);
            transform: translate(0, 4px);
        }
        

    #tag-section {
        margin-left: 5%;
    }

    #tag-header-search {
        width: 50%;
        margin: auto;
        padding-bottom: 15px;
        margin-left: 35%;
    }

    #tag-header-recommended {
        width: 50%;
        margin: auto;
        padding-bottom: 15px;
        margin-left: 41%;
    }

    #search-btn {
        background-color: #cccccc;
        border-color: black;
        width: 10%;
        float: right;
        color: black !important;
        text-align: center;
        margin-top: -5px;
        margin-bottom: 5px;
    }

    .btn-partial {
        cursor: pointer;

    }

        .btn:active, .active {
            border-color: black !important;
            /*Makes the buttons sink down}*/
            -webkit-transform: translate(0, 4px);
            -moz-transform: translate(0, 4px);
            transform: translate(0, 4px);
        }
        .btn-partial:disabled {
            cursor: pointer;
        }
    
    #result-partial-view {
        -webkit-box-shadow: 3px 3px 5px 6px #006747;
        -moz-box-shadow: 3px 3px 5px 6px #006747;
        box-shadow: 3px 3px 5px 6px #006747;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 475px;
    }

    .all-result-container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 80%;
        margin: auto;
        text-align: center;
        color: #DEB887;
        padding: 5px;
        padding: 5px 25px 5px 25px;
    }

    .name-section {
        font-size: 24px;
    }

    .location-section {
        font-size: 20px;
    }

    .time-section {
        font-size: 16px;
    }

    #result {
        width: 50%;
        justify-content: center;
        margin-top: 30px;
    }

        #result:hover {
            -moz-box-shadow: 0 0 5px 5px #666;
            -webkit-box-shadow: 0 0 5px 5px #666;
            box-shadow: 0 0 5px 5px #979a9e;
            cursor: pointer;
        }
</style>