
@{
    ViewData["Title"] = "EventFeed";
}

<h2>EventFeed</h2>

<p>Maybe this is where events will go, idk</p>

<button onclick="revealPiff()">Click here for dragon</button>

<div id="secret-lair" style="visibility: hidden">
    <img src="~/images/piff.jpg" />
    <p style="margin-top: 15px">
        This was done with some really easy Javascript. It's magic, just like Piff here.
        You can see the code I wrote to do all this. Just know my CSS ("Style="X") is bad CSS. We will work that out later.

        I created this page originally to teach my group members about the basics of HTML, Javascript, and CSS.
        I thought about deleting it, but this website has become enough of an accomplishment for my group that I want to keep it now
        as a sort of landmark and a weird easter egg. Who else has an easter egg? Probably just group 7.

        Thanks for the fun times Billy. This has been my favorite class I've taken at USF or otherwise, and it's not really close.
    </p>
</div>

<script type="text/javascript">
    function revealPiff()
    { 
        document.getElementById("secret-lair").style.visibility = "visible"
    }
</script>

