@model IEnumerable<EventGroupProject.Models.Tag>
@{
    ViewData["Title"] = "Create an Event";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Create an Event</h2>

<div id="event-creation-form">
        <ul class="error-text" id="error-list">
            <li class="error-text">Test</li>
        </ul>
    <div id="city-form" class="event-creation-panel">
        <p class="header-text">Let's start with the basics</p>
        <div>
            <label class="description-text">What is your event going to be called?</label>
            <input id="event-name-input" class="form-control">
        </div>
        <div>
            <label class="description-text">What city is your event in?</label>
            <input id="city-input" class="form-control" />
        </div>
    </div>

    <div id="tag-form" class="event-creation-panel">
        <p class="header-text">Pick some tags that help describe your event. These are how people will find it.</p>
        <div class="tag-container" id="tag-btn-container">
            @foreach (var tag in Model)
            {
                <button type="button" class="tag-btn">@tag.Name</button>
            }
        </div>
    </div>

    <div id="location-time-form" class="event-creation-panel">
        <p class="header-text">Fill people in on the details.</p>
        <div>
            <label class="description-text">When is it happening?</label>
            <div class="multi-container">
                <div>
                    <label for="date-input">Date: </label>
                </div>
                <div>
                    <input type="date" id="date-input" class="form-control" />
                </div>
                <div>
                    <label for="time-input">Time: </label>
                </div>
                <div>
                    <input type="time" id="time-input" class="form-control" />
                </div>
            </div>
        </div>
        <div>
            <label class="description-text">How long is it going to last?</label>
            <div class="multi-container">
                <div>
                    <label for="duration-hour-input">Hours: </label>
                </div>
                <div>
                    <input type="number" value="0" id="duration-hour-input" class="form-control" />
                </div>
                <div>
                    <label for="duration-minute-input">Minutes: </label>
                </div>
                <div>
                    <input type="number" value="0" id="duration-minute-input" class="form-control" />
                </div>
            </div>
        </div>
        <div>
            <label for="location-input" class="description-text">Where is it taking place?</label>
            <input id="location-input" class="form-control" />
        </div>
        <div>
            <label for="cost-input" class="description-text">And how much is it going to cost?</label>
            <input type="number" value="0" id="cost-input" class="form-control" />
        </div>
    </div>

    <div id="extra-details-form" class="event-creation-panel">
        <p class="header-text">Use this space to give a description for your event.</p>
        <textarea id="description-input" class="form-control"></textarea>
    </div>


    <div class="event-creation-btns">
        <button hidden id="prev-btn">Previous</button>
        <button id="next-btn">Next</button>
        <button hidden id="save-btn">Save</button>
    </div>
    
</div>

@* Write scripts here. With the IDs we are using in place we can make some javascript stuff without finalizing the UI *@
<script type="text/javascript">

    var userTags;
    var currentForm = "city";
    validateButtonAppearance();

    $(document).ready(function () {
        $("#no-tag-error").css("visibility", "visible");

        $('.tag-btn').click(function () {
            $(this).toggleClass("active");
        });

        $('#next-btn').click(function () {
            $("#error-list").empty();
            $(':animated').finish();
            switch (currentForm) {
                case "city":
                    if (!validateCityForm()) {
                        return;
                    }
                    transitionNextForm("#city-form", "#tag-form");
                    currentForm = "tag";
                    break;
                case "tag":
                    if (!validateOneTagSelected()) {
                        addError("At least one tag must be selected.");
                        return;
                    }
                    transitionNextForm("#tag-form", "#location-time-form");
                    currentForm = "locationDateTime";
                    break;
                case "locationDateTime":
                    transitionNextForm("#location-time-form", "#extra-details-form");
                    currentForm = "extraDetails";
                    break;
            }

            validateButtonAppearance();
        });

        $('#prev-btn').click(function () {
            $("#error-list").empty();
            $(':animated').finish();
            switch (currentForm) {
                case "tag":
                    transitionPrevForm("#tag-form", "#city-form");
                    currentForm = "city";
                    userTags = [];
                    break;
                case "locationDateTime":
                    transitionPrevForm("#location-time-form", "#tag-form");
                    currentForm = "tag";
                    userTags = [];
                    break;
                case "extraDetails":
                    transitionPrevForm("#extra-details-form", "#location-time-form");
                    currentForm = "locationDateTime";
                    break;
            }

        

            validateButtonAppearance();
        });

        $('#save-btn').click(function () {
            sendEventData("TEST NAME", "TEST CITY", "TEST DATE", 3, "TEST ADDRESS", 3, "TEST DESCRIPTION", userTags);
        });

        userTags = new Array();
    });

    function validateOneTagSelected() {
        findSelected();
        if (userTags.length > 0) {
            return true;
        }
        return false;
    }

    function transitionNextForm(currentForm, nextForm) {
        $(currentForm).animate({
            left: '-50%'
        }, 500, function () {
            $(nextForm).css('left', '150%');
        });

        $(nextForm).animate({
            left: '50%'
        }, 500);
    }

    function transitionPrevForm(currentForm, prevForm) {
        $(currentForm).animate({
            left: '150%'
        }, 500, function () {
            $(prevForm).css('left', '50%');
        });

        $(prevForm).animate({
            left: '50%'
        }, 500);
    }

    function findSelected() {
        var btnContainer = document.getElementById('tag-btn-container');
        var buttons = btnContainer.getElementsByTagName('button');

        for (i = 0; i < buttons.length; ++i) {
            if ($(buttons[i]).hasClass("active")) {
                userTags.push(i + 1);
            }
        }
    }

    function showErrorList() {
        $("#error-list").css("visibility", "visible");
    }

    function hideErrorList() {
        $("#error-list").css("visibility", "hidden");
    }

    function validateButtonAppearance() {
        if (currentForm == "city") {
            $("#next-btn").show();
            $("#save-btn").hide();
            $("#prev-btn").hide();
        }
        else if (currentForm === "extraDetails") {
            $("#next-btn").hide();
            $("#prev-btn").show();
            $("#save-btn").show();
        }
        else {
            $("#save-btn").hide();
            $("#prev-btn").show();
            $("#next-btn").show();
        }
    }

    function addError(error) {
        $("#error-list").append('<li>' + error + '</li>');
        showErrorList();
    }

    function sendEventData(eventName, eventCity, dateTime, duration,
        address, cost, description) {
        $.ajax({
            type: "POST",
            url: "/EventCreation/saveEventData",
            data: {
                eventName: eventName, eventCity: eventCity, dateTime: dateTime, duration: duration,
                address: address, cost: cost, desciption: description, tagIds: userTags
            },
            success: function () {
                alert("Event Saved!");
            },
            error: function () {
                alert("FU FAIL");
            }
        });
    }

    function validateCityForm() {
        if (!validateNameField()) {
            return false;
        }
        if (!validateCityField()) {
            return false;
        }
        return true;
    }

    function validateNameField() {
        var eventName = $('#event-name-input').val();
        if (eventName.length == 0) {
            addError("Please provide a name for your event.");
            return false;
        }
        return true;
    }

    function validateCityField() {
        var cityName = $('#city-input').val();
        if (cityName.length == 0) {
            addError("Please provide a city for your event.");
            return false;
        }
        return true;
    }

    function validateDetailsForm() {
        if (!validateDate()) {
            return false;
        }
        if (!validateDuration()) {
            return false;
        }
        if (!validateAddress()) {
            return false;
        }
        if (!validateCost()) {
            return false;
        }
        return true;
    }

    function validateDate() {
        var dateTime = $('#date-input').val();
        if (dateTime.length == 0) {
            addError("Please provide a date for your event.");
            return false;
        }
        return true;
    }

    function validateDuration() {
        var durationHour = $('#duration-hour-input').val();
        var durationMinute = $('#duration-minute-input').val();
        if (durationHour.length == 0) {
            addError("Please provide some number of hours in duration for your event.");
            return false;
        }
        return true;
        if (durationMinute.length == 0) {
            addError("Please provide some number of minutes in duration for your event.");
            return false;
        }
        return true;
        if (durationHour == 0 && durationMinute == 0) {
            addError("Please provide some duration for your event.");
            return false;
        }
        return true;

    }

    function validateAddress() {
        var address = $('#location-input').val();
        if (address.length == 0) {
            addError("Please add a location address for your event.")
            return false;
        }
        return true;
    }

    function validateCost() {
        var cost = $('#cost-input').val();
        if (cost.length == 0) {
            addError("Please add the cost of your event or '0' if it is free.")
            return false;
        }
        return true;

    function convert_to_minutes()
    {
        var hours_to_minutes = parseFloat(document.getElementById('description-hour-input').value) * 60;
        var minutes = parseFloat(document.getElementById('description-minute-input').value);
        var duration_in_minutes = hours_to_minutes + minutes;

        return duration_in_minutes;

        //console.log(duration_in_minutes);
        /* How to pass variable into model? Should I just change input value? There is two. My guess it to
         wrap all parameters in an object and use an actionlink?*/
    }

</script>

@* This is where the really specific CSS goes. Has no chance of being reused elsewhere *@
<style type="text/css">
    #city-form{
        left: 50%;
    }

    #cost-input{
        width: 30%;
        margin: 0 auto;
    }

    #description-input{
       height: 150px;
       font-size: 18px;
       font-weight: bold;
    }

    #city-input {
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
    }

    #duration-hour-input, #duration-minute-input{
        width: 75px;
    }

    #date-input, #time-input{
        width: 160px;
    }

    #error-list {
        margin-top: 10px;
        font-size: 24px;
    }

    .tag-container {
        margin-left: 30px !important;
    }

    .event-creation-panel > .tag-container {
        width: 100% !important;
    }

    .event-creation-panel > div {
        margin-bottom: 30px;
    }

    #event-creation-form {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 75%;
        height: 75%;
        overflow: hidden;
    }

    .event-creation-btns {
        position: absolute;
        bottom: 10px;
    }

        .event-creation-btns > button {
            width: 65px;
            height: 35px;
            background-color: #006747; /*USF Green Color*/
            color: #DEB887;
            margin: 5px;
            border-radius: 12px;
        }

            .event-creation-btns > button:focus {
                outline: 0;
            }

    .multi-container{
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
    }

        .multi-container > div{
            margin: 0, 15px, 0, 15px !important;
            display:table-cell;
        }

            .multi-container > div > label, input {
                color: #DEB887;
                margin-right: 15px;
            }
</style>

