@model IEnumerable<EventGroupProject.Models.Tag>
@{
    ViewData["Title"] = "EventCreation";
}

<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>EventCreation</h2>

@* I know this form is ugly, it's supposed to be. It's just placeholder for now. If you are editing this form, the important thing
    is to keep the IDs, as that is what the Javascript will use. Edit anything else. All CSS goes in wwwroot/CSS/site.css*@
<div>
    <div>
        <input placeholder="City" id="city-input" />
    </div>
    <div class="tag-container" id="tag-btn-container">
        @foreach (var tag in Model)
        {
            <button type="button" class="tag-btn">@tag.Name</button>
        }
    </div>
    <div>
        <input placeholder="Location" id="location-input" />
    </div>
    <div>
        Duration:
        Hours: <input  id="description-hour-input" />
        Minutes: <input id="description-minute-input" />
    </div>
    <div>
        <input placeholder="Cost" id="cost-input" />
    </div>
    <div>
        Start Time:
        <input type="time" />
    </div>
    <div>
        <input placeholder="Description (optional)" id="duration-input" />
    </div>
</div>

@* Write scripts here. With the IDs we are using in place we can make some javascript stuff without finalizing the UI *@
<script type="text/javascript">

    var convert_to_minutes = function ()
    {
        var hours_to_minutes = parseFloat(document.getElementById('description-hour-input').value) * 60;
        var minutes = parseFloat(document.getElementById('description-minute-input').value);
        var duration_in_minutes = hours_to_minutes + minutes;

        console.log(duration_in_minutes);
        /* How to pass variable into model? Should I just change input value? There is two. My guess it to
         wrap all parameters in an object and use an actionlink?*/
    }
    
</script>

