
@{
    ViewData["Title"] = "Banned";
}

<div id="banned-text">
    <div id="banned">This account has been banned</span>
    <div id="apology">Sorry</div>
</div>


<style type="text/css">
    #banned-text{
        width: 50%;
        margin: auto;
        color: red;
        margin-top: 25%;
    }

    #banned{
        font-size: 36px;
    }

    #apology{
        font-size: 24px;
        margin: auto;
        width: 25%;
    }


</style>

