@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Home Screen</h2>

<button onclick="testEvent()">Test Event Details</button>

<script type="text/javascript">
    function testEvent() {
        window.location.href = '/ViewSingleEvent/Index';
    }
</script>


