@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <ul style="margin-top: 25px">
        <li>
            Challenge time! Add your name under here and commit the project. Just add your name. Lots of crazy HTML, we will clean/delete a lot of it. 
            Feel free to add some CSS/treat this page as a HTML playground. Just don't commit broken stuff.
        </li>
        <li>Jacob checking in</li>
        @*Names go here*@
        <li>Matt checking in</li>
    </ul>
</div>
