@model IEnumerable<EventGroupProject.Models.Tag>
@{
    ViewData["Title"] = "TagSelection";
}

@* Including these lets me use CSS from wwwroot/css/site.css, as well as jQUery, which is another front end tool.  *@
<link rel="stylesheet" href="~/css/site.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Choose Your Tags</h2>

<div id="tags-section">
    <p class="header-text"> These tags are going to help us recommend events based on your preference. Choose one or more tags based on your interests.</p>
    <p id="no-tag-error" class="error-text">At least one tag needs to be selected</p>
    <p id="no-city-error" class="error-text">There must be a value for the city</p>
    <div id="city-field">
        <span class="header-text">What city do you live in?</span>
        <input id="city-input" class="form-control"/>
    </div>
    <div class="tag-container" id="tag-btn-container">
        @foreach (var tag in Model)
        {
            <button type="button" class="tag-btn">@tag.Name</button>
        }
    </div>

    <button id="save-tags-btn" class="save-button" onclick="saveTags()">Save</button>
</div>

@section Scripts
    {
    <script type="text/javascript">
        //Throughout this section of scripts please take of how basically every small piece of functionality gets it's own function

        var userTags;
        //This runs every time the page loads, so you can initialize some things right away. Everything starting with a $ is jQuery
        $(document).ready(function () {
            $('.tag-btn').click(function () {
                $(this).toggleClass("active");
            });

            userTags = new Array();
        });

        function ShowTagError() {
            $("#no-tag-error").css("visibility", "visible");
        }

        function showCityError() {
            $("#no-city-error").css("visibility", "visible");
        }

        function HideErrorText() {
            $("#no-tag-error").css("visibility", "hidden");
        }

        function saveTags() {
            findSelected();
            var oneTagSelected = validateOneTagSelected();
            var cityNotBlank = validateCityField();
            HideErrorText();
            if (oneTagSelected && cityNotBlank) {
                sendTags();
            }
            else {
                if (!oneTagSelected) {
                    ShowTagError();
                }
                if (!cityNotBlank) {
                    showCityError();
                }
            }
        }

        function findSelected() {
            var btnContainer = document.getElementById('tag-btn-container');
            var buttons = btnContainer.getElementsByTagName('button');

            for (i = 0; i < buttons.length; ++i) {
                if ($(buttons[i]).hasClass("active")) {
                    userTags.push(i + 1);
                }
            }
        }

        function validateOneTagSelected() {
            if (userTags.length > 0) {
                return true;
            }
            return false;
        }

        function validateCityField(){
            var city = $("#city-input").val();

            if (!city)
                return false;
            return true;
        }

        function sendTags() {
            //Example of an ajax call.
            //Feel free to use this as an example, but your best bet will be to use Google 
            //whenever you need to implement one. I never get them right on my first try
            //The url is the method in the Home controller
            //"tagIds" is the name of the parameter in the respective C# method
            //traditional is needed since I sent an array, usually not needed
            var city = $("#city-input").val();

            $.ajax({
                type: "POST",
                traditional: true,
                url: "/Home/SaveTags",
                data: { tagIds: userTags, city: city },
                success: function () {
                    window.location.href = '/Home/Index';
                },
                error: function () {
                    alert("Tag selection unsuccessful.");
                }
            });
        }
    </script>
}

<style type="text/css">
    #city-field {
        margin: auto;
        margin-bottom: 15px;
        width: 30%;
        text-align: center;
    }
</style>




