
@{
    ViewData["Title"] = "TagSelection";
}

<h2>TagSelection</h2>

<div id="tags-section">
    @* Add Tags here somewhere. Feel free to use some default buttons until we create something more dynamic. "Business", "Tech", etc *@
    @* Try to make it look a little pretty. Prototype is fine though. No need for perfect UI yet. *@
    @* Add a submit button as well *@
    <button type="button">Entertainment</button>
    <button type="button">Lifestyle</button>
    <button type="button">Gaming</button>
    <button type="button">Literature</button>
    <button type="button">Politics</button>
    <button type="button">Technology</button>
    <button type="button">Submit</button>
</div>

@section Scripts
{ 
    <script type="text/javascript">
                //Add javascript to make submit button unclickable if no tags are selected
                //Hint: Use CSS. Add all CSS to wwwroot/css and call the CSS class you created in the HTML.
                //Use good naming conventions for your CSS.
                //Next step will be letting our DB know that the user selected some tags.
    </script>
}




