body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #CFC493;*/
    /*background-color: #249170;*/
    background-image: linear-gradient(#249170, #008377, #007577, #0D6672);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

h2 {
    /*color: #006747;*/
    color: #DEB887;
    font-weight: bold;
    font-size: 48px;
    align-items: center;
}

.header-text {
    /*color: #006747;*/
    color: #DEB887;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
}

.description-text {
    color: #DEB887;
    font-size: 20px;
}

.info-text {
    color: #DEB887;
    font-size: 16px;
}

.error-text {
    color: #831f00;
    font-weight: bold;
    visibility: hidden;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*The next three describe the behavior of those tag buttons*/
.tag-container {
    width: 50%;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 35px;
    justify-content: center;
    overflow: hidden;
}

    .tag-container > button {
        width: 100px;
        height: 50px;
        float: left;
        background-color: #006747;
        color: #DEB887;
        margin: 15px;
        border-radius: 12px;
        /*I didn't come up with the below. It's really intense. I just copied it from a blog to give the buttons the floaty effects*/
        -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }
        
        .tag-container > button:active, .active {
            border-color: black !important;
            /*Makes the buttons sink down*/
            -webkit-transform: translate(0, 4px);
            -moz-transform: translate(0, 4px);
            transform: translate(0, 4px);
        }

.save-button {
    width: 65px;
    height: 35px;
    background-color: #006747; /*USF Green Color*/
    color: white;
    margin-left: 5px;
}

.event-creation-panel{
    position: absolute;
    width: 50%;
    height: 300px;
    text-align: center;
    left: 150%;
    top: 100px;
    margin-left: -25%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin-top: 10%;
    margin-left: 12%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


