body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: #CFC493;*/
    /*background-color: #249170;*/
    background-image: linear-gradient(#249170, #008377, #007577, #0D6672);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

h2 {
    /*color: #006747;*/
    color: #DEB887;
    font-weight: bold;
    font-size: 48px;
    align-items: center;
}

.header-text {
    /*color: #006747;*/
    color: #DEB887;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 35px;
}

.description-text {
    color: #DEB887;
    font-size: 20px;
}

.error-text {
    color: red;
    font-weight: bold;
    visibility: hidden;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/*The next three describe the behavior of those tag buttons*/
.tag-container {
    width: 50%;
    margin: 0 auto;
    overflow-y: auto;
    margin-bottom: 35px;
    justify-content: center;
    overflow: hidden;
}

    .tag-container > button {
        width: 100px;
        height: 50px;
        float: left;
        background-color: #006747;
        color: #DEB887;
        margin: 15px;
        border-radius: 12px;
        /*I didn't come up with the below. It's really intense. I just copied it from a blog to give the buttons the floaty effects*/
        -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
        box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    }
        
        .tag-container > button:active, .active {
            border-color: black !important;
            /*Makes the buttons sink down*/
            -webkit-transform: translate(0, 4px);
            -moz-transform: translate(0, 4px);
            transform: translate(0, 4px);
        }

.save-button {
    width: 65px;
    height: 35px;
    background-color: #006747; /*USF Green Color*/
    color: white;
    margin-left: 5px;
}

.event-creation-panel{
    position: absolute;
    width: 50%;
    height: 300px;
    text-align: center;
    left: 150%;
    top: 100px;
    margin-left: -25%;
}
    /*I want the tag container (all the tag buttons) to have some special behavior when they are on the event creation
        page without having to alter the tag registration selection. Might go back and change that too though.
    */
    .event-creation-panel > .tag-container{
        width: 100% !important;
    }

    .event-creation-panel > div {
        margin-bottom: 30px;
    }

#event-creation-form {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 60%;
    height: 60%;
    overflow: hidden;
}

.event-creation-btns{
    position: absolute;
    bottom: 10px;
}

    .event-creation-btns > button {
        width: 65px;
        height: 35px;
        background-color: #006747; /*USF Green Color*/
        color: #DEB887;
        margin: 5px;
        border-radius: 12px;
    }

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
